{
  "semi": false,
  "printWidth": 120,
  "trailingComma": "all",
  "tabWidth": 2,
  "proseWrap": "always",
  "singleQuote": true,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed"
}
